
ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden; 
    background-color: gray;
  }
  
  li a{
    float: left;
  }
  
  li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: gainsboro;
  }  

  #selfphoto {

    width: 200px;
    height: 200px;
    
  }
  #intro{

    float:left;
    width: 50%;
  }
  #footertext{

    text-align: center;
  }
  @media only screen and (max-width: 600px) {
    #selfphoto {
    width: 350px;
    height: auto;
    }
  }
  
  
  